name: "update flakes"

on:
  workflow_dispatch:
  schedule:
    - cron: "30 11 * * 1"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: main
        fetch-depth: 0
    - name: "provision home-mananger"
      uses: ./.github/actions/runner
      id: runner

    - name: "update system"
      run: |
        update
      shell: fish {0}

    - name: "create pr"
      run: |
        git config user.name '${{ github.actor }}'
        git config user.email '${{ github.actor }}@users.noreply.github.com'
        git fetch
        git checkout origin/main -B main
        git commit -am "❄️: flake update"
        git push -f origin main:flake-update
        gh pr create --title "❄️" --base main --head flake-update --body ":tada:" || echo pr already exists
